/*overriding zurb*/
.button {
	margin: 0;
}


/*.content {
    width: 100%;
}*/

/*.header {
    font: 46px Lucida Grande, Geneva, Verdana, Arial;
    border-bottom: 2px solid black;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}*/

.bookmark-container {
	margin-bottom: 10px;
	padding: 5px;
	/*margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;*/
	border: 1px solid #d8d8d8;
	/*background: #f2f2f2;*/
	word-wrap: break-word;
}


/*.hide {
    display: none;
}*/
/*.show {
    display: inherit;
}*/

#newBookmarkButton {
	margin-right: 20px;
}
.loading {
	opacity: .2;
	background-color: #3d464d;
}
.updatebutton {
	margin-top: 25px;
	margin-left: 20px;
}

.bookmark-name {
	display: inline-block;
}

.title {
	/*font-family: 'IM Fell English SC', serif;
	font-weight: normal;
	font-size: 48px;
	line-height: 48px;*/
}

#page-content {
	opacity: 0;
}
